<%@ Master Language="C#" MasterPageFile="~/masterpages/SiteMaster.master" AutoEventWireup="true" %>

<asp:Content ContentPlaceHolderID="BodyPlaceholder" runat="server">
<div id="block-container">
    <div id="hp-image">
        <img src="assets/images/homepage/kevan-off.png" id="pic1" alt="Kevan" />
    </div>
    <umbraco:Macro Alias="HomepageContent" runat="server"></umbraco:Macro>
</div>
</asp:Content>